<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css" .centered-element {
    margin-left: 20%;
    margin-right: auto;
    background-color: #BFBEBE;
    padding: 15px;
    width: 120px;
   }>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Bataille navale</title>
</head>
<body>
<div id="menu">
    <!-- menu à créer -->
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Créer une partie</a></li>
            <li><a href="#">Rejoindre une partie</a></li>
            <li><a href="#">Créer une flotte</a></li>
            <li><a href="#">Jouer</a></li>
        </ul>
    </nav>
</div>
<div class="centered-element">
    <h1>Bataille Navale</h1>
    <img src="images/logo.png">
</div>
</body>
</html>
